// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * ScrollHint (https://appleple.github.io/scroll-hint/)
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-class-pattern */

// Vendor

@use "scroll-hint/scss/scroll-hint";

// Custom

.scroll-hint-icon-wrap {
    & {
        font-family: $body-font;
        overflow: hidden; // fixes issue with tables that are too short
    }
}
