// Styles written by Jacob Bearce @ Weblinx, Inc.

/* ------------------------------------------------------------------------ *\
 * Post Password Form
\* ------------------------------------------------------------------------ */

.post-password-form {
    .user-content__text {
        font-size: 1em;
    }
}

.post-password-form__input {
    & {
        margin-top: 0.5em;
    }
}
