// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Accessible Poetry (https://wordpress.org/plugins/accessible-poetry/)
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-max-id, selector-no-qualifying-type */

body.acwp-monochrome {
    & {
        filter: none !important;
    }
}

#acwp-toolbar-btn-wrap {
    & {
        bottom: -80px;
        margin-top: 0;
        top: auto !important;
        transition: bottom 0.2s ease, visibility 0s 0.2s;
        visibility: hidden;
    }

    &.show {
        bottom: 20px;
        margin-top: 0;
        transition: bottom 0.2s ease;
        visibility: visible;
    }
}

.acwp-toolbar {
    & {
        bottom: -100vh;
        top: auto !important;
        transition: bottom 0.2s ease;
    }

    &.acwp-toolbar-show {
        bottom: 20px;
    }
}

.acwp-toolbar {
    & {
        font-family: $body-font;
    }
}

.acwp-title {
    & {
        font-family: $heading-font;
        font-weight: 700;
    }
}

.acwp-footer {
    & {
        display: none;
    }
}
