// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Button
\* ------------------------------------------------------------------------ */

.button {
    & {
        background: color("primary");
        border: 0;
        border-radius: remify(6, 16);
        color: color("light");
        cursor: pointer;
        display: inline-block;
        font-family: $heading-font;
        font-size: remify(16, 16);
        font-weight: 600;
        line-height: remify(19.2, 16);
        margin: remify(0 0 20, 16);
        outline: 0;
        padding: remify(15 18, 16);
        text-align: center;
        text-decoration: none;
        transition: background-color 0.15s;
    }

    &:active {
        background-color: color("primary", "shade");
    }

    &[href]:focus,
    &[href]:hover {
        background-color: color("primary", "tint");
    }
}

/* disabled variant */

.button--disabled {
    & {
        cursor: not-allowed;
        opacity: 0.6;
        pointer-events: none;
    }
}
