// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Tribe Events (https://theeventscalendar.com/)
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-class-pattern, selector-max-id, selector-max-type, selector-no-qualifying-type */

/* custom properties */

:root {
    --tec-color-text-primary: #{color("foreground")};
    --tec-color-text-primary-light: #{transparentize(color("foreground"), 0.38)};
    --tec-color-text-secondary: #{color("foreground", "tint")};
    --tec-color-text-disabled: #{transparentize(color("foreground", "tint"), 0.6)};
    --tec-color-icon-primary: #{color("foreground")};
    --tec-color-icon-primary-alt: #{lighten(color("foreground"), 9.41)};
    --tec-color-icon-secondary: #{color("foreground", "tint")};
    --tec-color-icon-active: #{color("foreground")};
    --tec-color-icon-disabled: #{transparentize(color("foreground", "tint"), 0.6)};
    --tec-color-icon-focus: #{color("primary")};
    --tec-color-icon-error: #{color("error")};
    --tec-color-event-icon: #{color("foreground")};
    --tec-color-event-icon-hover: #{color("primary")};
    --tec-color-accent-primary: #{color("primary")};
    --tec-color-accent-primary-hover: #{transparentize(color("primary"), 0.2)};
    --tec-color-accent-primary-active: #{transparentize(color("primary"), 0.1)};
    --tec-color-accent-primary-background: #{transparentize(color("primary"), 0.93)};
    --tec-color-accent-secondary: #{color("foreground")};
    --tec-color-accent-secondary-hover: #{transparentize(color("foreground"), 0.2)};
    --tec-color-accent-secondary-active: #{transparentize(color("foreground"), 0.1)};
    --tec-color-accent-secondary-background: #{transparentize(color("foreground"), 0.93)};
    --tec-color-link-accent-hover: #{transparentize(color("primary"), 0.2)};
    --tec-color-border-default: #{color("foreground", "tint")};
    --tec-color-border-secondary: #{lighten(color("foreground", "tint"), 5.88)};
    --tec-color-border-tertiary: #{darken(color("foreground", "tint"), 34.51)};
    --tec-color-border-hover: #{color("foreground", "tint")};
    --tec-color-border-active: #{color("foreground")};
    --tec-color-background: #{color("background")};
    --tec-color-background-transparent: #{transparentize(color("background"), 0.4)};
    --tec-color-background-secondary: #{darken(color("background"), 3.33)};
    --tec-color-background-messages: #{transparentize(color("foreground"), 0.93)};
    --tec-color-background-secondary-hover: #{darken(color("background"), 6.27)};
    --tec-color-background-error: #{transparentize(color("error"), 0.92)};
    --tec-color-box-shadow: #{transparentize(color("dark"), 0.86)};
    --tec-color-box-shadow-secondary: #{transparentize(color("dark"), 0.9)};
    --tec-color-scroll-track: #{transparentize(color("dark"), 0.75)};
    --tec-color-scroll-bar: #{transparentize(color("dark"), 0.5)};
    --tec-color-background-primary-multiday: #{transparentize(color("primary"), 0.76)};
    --tec-color-background-primary-multiday-hover: #{transparentize(color("primary"), 0.66)};
    --tec-color-background-secondary-multiday: #{transparentize(color("foreground"), 0.76)};
    --tec-color-background-secondary-multiday-hover: #{transparentize(color("foreground"), 0.66)};
    --tec-color-accent-primary-week-event: #{transparentize(color("primary"), 0.9)};
    --tec-color-accent-primary-week-event-hover: #{transparentize(color("primary"), 0.8)};
    --tec-color-accent-primary-week-event-featured: #{transparentize(color("primary"), 0.96)};
    --tec-color-accent-primary-week-event-featured-hover: #{transparentize(color("primary"), 0.86)};
    --tec-font-family-base: #{$body-font};
    --tec-font-family-sans-serif: #{$body-font};
}

/* container */

#tribe-events-pg-template,
.tribe-events .tribe-events-l-container,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
    & {
        max-width: 100%;
        padding: 0;
    }
}

/* notices */

.tribe-events-notices {
    & {
        font-family: var(--tec-font-family-base);
    }
}

/* links */

.tribe-common .tribe-common-anchor-thin-alt {
    &:active,
    &:focus,
    &:hover {
        border-bottom-color: currentColor;
    }
}

.tribe-events-pro .tribe-events-pro-organizer__meta-email-link,
.tribe-events-pro .tribe-events-pro-organizer__meta-website-link {
    & {
        border-bottom-width: 1px;
    }
}

/* ical link */

.tribe-events .tribe-events-c-ical {
    & {
        clear: both;
    }
}

.tribe-events-cal-links .tribe-events-gcal,
.tribe-events-cal-links .tribe-events-ical,
.tribe-events-cal-links .tribe-events-ics {
    & {
        @extend .button;
    }

    &:not(:last-child) {
        margin-right: remify(20, 16);
    }
}

/* pagination */

.tribe-events-sub-nav {
    & {
        padding: 0;
    }
}

/* list */

.tribe-events .tribe-events-calendar-list__month-separator {
    & {
        width: 100%;
    }
}

/* month */

.tribe-events.tribe-events-view--month .tribe-events-c-top-bar__datepicker-container {
    & {
        width: 220px;
    }
}

/* month mobile */

.tribe-events .tribe-events-calendar-month__week {
    & {
        width: 100%;
    }
}

.tribe-events .tribe-events-calendar-month-nav {
    & {
        margin-bottom: 1em;
    }
}

/* day */

.tribe-events .tribe-events-calendar-day__time-separator {
    & {
        width: 100%;
    }
}

/* single */

.tribe-events-back {
    & {
        margin-top: 0;
    }
}

.tribe-events-schedule {
    & {
        margin-top: 0;
    }

    h2 {
        margin-top: 0;
    }
}

.single-tribe_events .tribe-events-schedule .tribe-events-divider {
    & {
        margin: 0 0.25em;
    }
}

.tribe-events-content a {
    & {
        @extend .link;

        border-bottom: 0 !important;
    }

    &.button {
        @extend .button;
    }
}

.tribe-events-single ul.tribe-related-events .recurringinfo {
    & {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }
}

#tribe-events-footer .tribe-events-sub-nav,
#tribe-events-header .tribe-events-sub-nav {
    & {
        padding: 0;
    }
}

.tribe-events-event-image img {
    & {
        max-width: 100%;
    }
}

/* Pro: Organizer */

.tribe-events-pro .tribe-events-pro-organizer__meta-email,
.tribe-events-pro .tribe-events-pro-organizer__meta-phone,
.tribe-events-pro .tribe-events-pro-organizer__meta-website {
    & {
        align-items: center;
        display: flex;
    }
}
