// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Header
\* ------------------------------------------------------------------------ */

.header-block {
    & {
        @include layer("header");
    }

    & {
        background: color("background");
        padding: remify(($content-padding * 1.25) $content-padding);
    }
}

.header__inner {
    & {
        margin: 0 auto;
        max-width: remify($site-width);
    }
}

.header__logo {
    & {
        max-width: 100%;
        width: remify(200, 16);
    }

    @include smaller-than(xs) {
        margin: 0 auto;
    }
}

.header__search-form__container {
    &.search-form__container--expandable {
        background: color("background");
        padding: remify(($content-padding * 0.75) $content-padding);
    }
}
