// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * User Content
\* ------------------------------------------------------------------------ */

.user-content {
    /* stylelint-disable selector-no-qualifying-type, selector-max-type */

    &::after {
        clear: both;
        content: "";
        display: block;
    }

    // tel links

    a[href^="tel:"]:not(.link) {
        @extend .link;
    }

    // images

    img:not(.aligncenter):not(.alignleft):not(.alignright) {
        display: inline-block;
    }

    img {
        height: auto !important;
        max-width: 100%;
    }

    /* stylelint-enable */
}

/* light variant */

.user-content--light {
    /* stylelint-disable selector-no-qualifying-type, selector-max-type */

    .user-content__link,
    .user-content__title,
    .user-content__text,
    .wp-caption-text {
        color: color("light");
    }

    /* stylelint-enable */
}
