// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Input
\* ------------------------------------------------------------------------ */

$font-size: 16;
$icon-size: 0.75em;

$padding-bottom: 10;
$padding-left:   15;
$padding-right:  15;
$padding-top:    10;

.input {
    & {
        background: color("background");
        border: remify(2) solid color("background", "shade");
        border-radius: 0.25em;
        color: color("foreground");
        display: block;
        font-family: $body-font;
        font-size: remify($font-size, 16);
        font-weight: 400;
        line-height: 1.2em;
        margin: remify(0 0 10);
        outline: 0;
        padding: remify($padding-top $padding-right $padding-bottom $padding-left, $font-size);
        text-overflow: ellipsis;
        transition: background-color 0.15s, background-size 0.15s, border-color 0.15s, color 0.15s;
        width: 100%;
    }

    &:not(.input--disabled):active,
    &:not(.input--disabled):focus {
        border-color: color("accent");
    }

    &::placeholder {
        color: color("foreground", "tint");
        opacity: 1;
    }
}

/* error variant */

.input--error {
    & {
        border-color: color("error");
    }
}

/* success variant */

.input--success {
    & {
        border-color: color("success");
    }
}

/* select variant */

.input--select {
    & {
        cursor: pointer;
        // remove Firefox default styles & arrow
        text-indent: 0.01px;
        // remove IE default styles & arrow
        &::-ms-expand { display: none; }
    }
}

.input--select-arrow {
    & {
        background-image: svg-load("../media/vendor/fas-sort.svg", fill=#{color("foreground")});
        background-position: center right remify($padding-right, $font-size);
        background-repeat: no-repeat;
        background-size: $icon-size;
        padding-right: calc(#{$icon-size} + #{remify($padding-right * 2, $font-size)});
    }
}

/* toggle variants */

.input--toggle {
    & {
        border-width: remify(1);
        cursor: pointer;
        display: inline-block;
        height: $icon-size * 2;
        overflow: hidden;
        padding: 0;
        position: relative;
        vertical-align: middle;
        width: $icon-size * 2;
    }

    &::after {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: $icon-size;
        content: "";
        display: block;
        height: 100%;
        left: -999em;
        position: absolute;
        top: 0;
        transition: background-color 0.15s, left 0s 0.15s, transform 0.15s;
        width: 100%;
    }

    &:checked::after {
        left: 0;
        transition: background-color 0.15s, transform 0.15s;
    }

    & + .text--label {
        display: inline-block;
        font-size: remify($font-size, 16);
        line-height: $icon-size * 2;
        margin-bottom: remify(10);
        vertical-align: middle;
    }
}

.input--toggle-checkbox {
    &:checked {
        background-color: color("accent");
        border-color: color("accent");
    }

    &::after {
        background-image: svg-load("../media/vendor/fas-check.svg", fill=#{color("light")});
        transform: rotate(90deg);
    }

    &:checked::after {
        transform: rotate(0);
    }
}

.input--toggle-radio {
    & {
        border-radius: 50%;
    }

    &::after {
        background-image: svg-load("../media/vendor/fas-circle.svg", fill=#{color("accent")});
        transform: scale(0);
    }

    &:checked::after {
        transform: scale(1);
    }
}

/* disabled variant */

.input--disabled {
    & {
        background-color: mix(color("background"), color("background", "shade"));
        cursor: not-allowed;
        opacity: 0.6;
    }
}

/* select browser variants */

/* stylelint-disable selector-max-type, selector-no-vendor-prefix, selector-type-no-unknown */

/* IE */
_:-ms-input-placeholder,
:root .input--select {
    & {
        padding: remify($padding-top, $font-size) calc(#{remify($padding-left, $font-size)} - 3px) calc(#{remify($padding-bottom, $font-size)} - 2px);
    }
}

_:-ms-input-placeholder,
:root .input--select-arrow {
    & {
        padding-right: calc(#{$icon-size} + #{remify($padding-right * 2, $font-size)} - 3px);
    }
}

/* Chrome  */
@supports (-webkit-appearance: none) and (font-stretch: normal) and (not(-ms-accelerator: true)) {
    .input--select {
        padding: remify($padding-top, $font-size) remify($padding-right, $font-size) remify($padding-bottom, $font-size) remify($padding-left, $font-size);
    }

    .input--select-arrow {
        padding-right: calc(#{$icon-size} + #{remify($padding-right * 2, $font-size)});
    }
}

/* Safari */
_::-webkit-full-page-media,
_:future,
:root .input--select {
    & {
        padding: remify($padding-top, $font-size) remify($padding-right, $font-size) remify($padding-bottom, $font-size) remify($padding-left, $font-size);
    }
}

_::-webkit-full-page-media,
_:future,
:root .input--select-arrow {
    & {
        padding-right: calc(#{$icon-size} + #{remify($padding-right * 2, $font-size)});
    }
}

/* Edge */
@supports (-ms-ime-align: auto) {
    .input--select {
        padding: calc(#{remify($padding-top, $font-size)} - 1px) calc(#{remify($padding-right, $font-size)} - 2px) calc(#{remify($padding-bottom, $font-size)} - 1px) calc(#{remify($padding-left, $font-size)} - 2px);
    }

    .input--select-arrow {
        padding-right: calc(#{$icon-size} + #{remify($padding-right * 2, $font-size)} - 2px);
    }
}

/* Firefox */
@-moz-document url-prefix("") {
    .input--select {
        padding: remify($padding-top, $font-size) calc(#{remify($padding-right, $font-size)} - 4px) remify($padding-bottom, $font-size) calc(#{remify($padding-left, $font-size)} - 4px);
    }

    .input--select-arrow {
        padding-right: calc(#{$icon-size} + #{remify($padding-right * 2, $font-size)} - 4px);
    }
}

/* stylelint-enable */
