// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Search Form
\* ------------------------------------------------------------------------ */

.search-form__container {
    & {
        margin: remify(0 0 15, 16);
    }
}

.search-form {
    & {
        position: relative;
    }
}

.search-form__input {
    & {
        font-size: remify(16, 16);
        margin: 0;
        padding-right: remify(48, 16);
    }
}

.search-form__button {
    & {
        background: none;
        bottom: remify(2);
        color: color("foreground");
        font-size: remify(16, 16);
        margin: 0;
        padding: remify(0 16, 16);
        position: absolute;
        right: remify(2);
        top: remify(2);
        transition: color 0.15s;
    }

    &:active {
        background: none;
        color: color("accent", "shade");
    }
}

/* expandable variant */

.search-form__container--expandable {
    & {
        align-items: center;
        display: flex;
        height: 100%;
        left: 0;
        margin-bottom: 0;
        opacity: 0;
        position: absolute;
        top: -999em;
        transition: opacity 0.15s, top 0s 0.15s, visibility 0s 0.15s;
        visibility: hidden;
        width: 100%;
        z-index: 999;
    }

    &.is-active {
        opacity: 1;
        top: 0;
        transition: opacity 0.15s;
        visibility: visible;
    }

    .search-form {
        width: 100%;
    }
}
