// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

@use "sass:math";

/* ------------------------------------------------------------------------ *\
 * Functions
\* ------------------------------------------------------------------------ */

/*
 * Retrieve a color variable as a raw value
 *
 * @param  {string}  $color - The name of the color as defined in _variables
 * @param  {string}  $tone  - The variant of the color (shade|base|tint)
 */
@function color($color, $tone: base) {
    @return map-get(map-get($colors, $color), $tone);
}

/*
 * Retrieve a color variable as a custom property
 *
 * @param  {string}  $color - The name of the color as defined in _variables
 * @param  {string}  $tone  - The variant of the color (shade|base|tint)
 */
@function color-prop($color, $tone: base) {
    @return var(--__gulp_init_namespace__-color-#{$color}-#{$tone});
}

/*
 * Remove the unit of a length
 *
 * @param  {Number}  $number
 */
@function strip-unit($number) {
    @return if(type-of($number) == "number" and not unitless($number), math.div($number, ($number * 0 + 1)), $number);
}

/*
 * Convert PX units in to EM or REM, relative to a specified base sizes
 *
 * @param  {Number}  $size - Array of up to four sizes in PX units
 * @param  {Number}  $base - Font size to base calculations off of
 * @param  {String}  $unit - Either "em" or "rem"
 */
@function remify($sizes: ($size1, $size2, $size3, $size4), $base: null, $unit: null) {
    $unit: if($unit == null, if($base == null, rem, em), $unit);
    $base: if($base == null, 16, strip-unit($base));
    $output: "";

    @each $size in $sizes {
        $size: strip-unit($size);

        @if type-of($size) == "number" {
            // add as space if $output already has a value
            $output: if($output == "", "", $output + " ");
            // calculate, append value to $output
            $output: $output + math.div(strip-unit($size), strip-unit($base)) + $unit;
        }

        @else {
            // pass the value through unchanged if $size is not a number
            $output: $output + " " + $size;
        }
    }

    @return if(type-of($output) == "string", unquote($output), $output);
}

/*
 * Convert Photoshop leading to CSS line-height
 *
 * @param  {Number}  $size - Value of Leading in Photoshop's Character Panel
 * @param  {Number}  $base - Value of Font Size in Photoshop's Character Panel
 */
@function leading($size, $base: null) {
    $base: if($base == null, 16, strip-unit($base));
    $output: $base + (strip-unit($size) / 2);

    @return $output;
}

/*
 * Convert Photoshop tracking to CSS letter-spacing
 *
 * @param  {Number}  $size - Value of Tracking in Photoshop's Character Panel
 * @param  {Number}  $base - Value of Font Size in Photoshop's Character Panel
 */
@function tracking($size, $base: null) {
    $base: if($base == null, 16, strip-unit($base));
    $output: ($size / 1000) * strip-unit($base);

    @return $output;
}
