// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* stylelint-disable selector-max-type, selector-no-qualifying-type */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic");
@import "helpers/helpers";
@import "base/normalize/normalize";
@import "base/selection/selection";
@import "base/align/align";
@import "base/divider/divider";
@import "base/grid/grid";
@import "base/link/link";
@import "base/button/button";
@import "base/input/input";
@import "base/title/title";
@import "base/text/text";
@import "base/blockquote/blockquote";
@import "base/user-content/user-content";

a:not(.button) {
    @extend .link;
    @extend .user-content__link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend .title;
    @extend .user-content__title !optional;
}

h1 {
    @extend .title--h1 !optional;
}

h2 {
    @extend .title--h2 !optional;
}

h3 {
    @extend .title--h3 !optional;
}

h4 {
    @extend .title--h4 !optional;
}

h5 {
    @extend .title--h5 !optional;
}

h6 {
    @extend .title--h6 !optional;
}

p,
ol,
ul,
table {
    @extend .text;
    @extend .user-content__text !optional;
}

ol,
ul {
    @extend .text--list !optional;
}

ol {
    @extend .text--list-ordered !optional;
}

ul {
    @extend .text--list-unordered !optional;
}

ol li,
ul li {
    @extend .text__list-item !optional;
}

table {
    @extend .text--table !optional;
}

table thead {
    @extend .text__header !optional;
}

table tbody {
    @extend .text__body !optional;
}

table tfoot {
    @extend .text__footer !optional;
}

table tr {
    @extend .text__row !optional;
}

table td,
table th {
    @extend .text__cell !optional;
}

table th {
    @extend .text__cell--heading !optional;
}

blockquote {
    @extend .blockquote !optional;
    @extend .user-content__blockquote !optional;
}

hr {
    @extend .divider !optional;
    @extend .user-content__divider !optional;
}

/**
 * Special stuff...
 */

// highlight images with no alt tag
img:not([alt]):not(.wp-more-tag),
img[alt=""]:not(.wp-more-tag) {
    border: 2px dashed red;
}

.mce-content-body {
    background: color("background");
    margin: remify(($content-padding * 1.25) $content-padding);
}
