// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Logo
\* ------------------------------------------------------------------------ */

.logo {
    & {
        display: block;
        text-decoration: none;
        transition: opacity 0.15s;
    }

    &[href]:focus,
    &[href]:hover {
        opacity: 0.9;
    }
}

.logo__image {
    & {
        display: block;
        width: 100%;
    }
}
